@font-face {
  font-family: "Semi-Bold-Pretendard";
  src: url("../statics/fonts/Pretendard/SemiBold.woff") format("woff"),
    url("../statics/fonts/Pretendard/SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  src: url("../statics/fonts/Pretendard/Regular.woff") format("woff"),
    url("../statics/fonts/Pretendard/Regular.ttf") format("truetype");
}

/* 색 변수 모음 */

:root {
  --body-bg: #ffffff;
  --body-font: #000000;

  /* 헤더 배경 색상*/
  --header-bg: var(--body-bg);
  /* 탑 배너 폰트 색상 */
  --top-banner-font: #ffffff;
  /* 탑 배너 배경색상 */
  --top-banner-bg: #000000;
  /* 탑 배너 버튼 색상 */
  --top-banner-button-bg: #01c0e2;
  /* 탑 배너 버튼 폰트 */
  --top-banner-button-font: #ffffff;

  /* 아래 cta버튼 신청 버튼 색상 */
  --cta-button-bg: #01c0e2;
  /* 아래 cta버튼 신청 폰트 색상 */
  --cta-button-font: #ffffff;

  /* 태그 폰트 색상 */
  --tag-font: #737373;
  /* 태그 배경색 */
  --tag-bg: #f5f5f5;

  /* 푸터 색상 */
  --semi-bold-color: #737373;
  --footer-border-top: #d4d4d4;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--body-bg);
  color: var(--body-font);
}

main {
  width: 1024px;
}

header {
  width: 1024px;
  height: 64px;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: var(--header-bg);
}

footer {
  margin-top: 172px;
  padding: 32px 24px 24px 24px;
  border-top: 1px solid var(--footer-border-top);
  width: 1024px;
}

a {
  text-decoration: none;
  display: block;
}
/* 헤더 */
.header__logo {
  margin-left: 24px;
}

nav {
  margin-left: auto;
  margin-right: 24px;
  font-size: 14px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav__link {
  margin-left: 24px;
}

.top-banner {
  height: 400px;
  background: var(--top-banner-bg);
  color: var(--top-banner-font);
  display: flex;
}

/* 탑배너 */
.top-banner__content {
  margin: 123px 137px 48px 107px;
}

.top-banner__right {
  width: 400px;
  height: 400px;
  margin-right: 70px;
}

.bold {
  font-family: "Pretendard";
  font-weight: 700;
}
.regular {
  font-family: "Pretendard";
  font-weight: 400;
}

.top-banner__title {
  font-size: 24px;
  line-height: 33px;
}

.top-banner__subtitle {
  font-size: 16px;
  line-height: 24px;
}

.top-banner__cta-button {
  margin-top: 67px;
  background: var(--top-banner-button-bg);
  color: var(--top-banner-button-font);
  width: 310px;
  height: 67px;
  font-size: 20px;
  border-radius: 6px;
}

.top-banner__image {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

/* 각 섹션 */

.container {
  margin: 75px 24px 0px 24px;
}

.section-title__main {
  font-size: 30px;
  margin-bottom: 11px;
  line-height: 37.5px;
}

.section-title__sub {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 49px;
}

.grid-3fr {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4fr {
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card__image {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 13px;
}

.card__title {
  font-size: 20px;
  line-height: 27.5px;
  padding: 2px 0px;
  margin-bottom: 4px;
}
.card__subtitle {
  font-size: 16px;
  line-height: 24px;
  padding: 2px 0px;
  margin-bottom: 4px;
}

.card__tag {
  margin-top: 20px;
  font-family: "Semi-Bold-Pretendard";
  font-weight: 600;
  size: 14px;
  line-height: 21px;
  color: var(--tag-font);
  background: var(--tag-bg);
  width: fit-content;
  height: 29px;
  padding: 4px 8px;
  border-radius: 4px;
}

/* 프로모션 배너 이미지 */

.promotion-banner-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 250px;
  border-radius: 6px;
}

/* 상담 버튼 */
.cta-button__wrapper {
  width: 310px;
  height: 64px;
  margin: auto;
}

.cta-button {
  background-color: var(--cta-button-bg);
  height: 100%;
  font-size: 20px;
  line-height: 30px;
  color: var(--cta-button-font);
  border-radius: 6px;
}

.footer__top {
  display: flex;
}
.footer__top__logo {
  width: 50%;
}
.footer__top__info {
  display: flex;
}

.footer__top__info__external-link {
  width: 143px;
  margin: 0px 24px;
}

.footer__top__info__title {
  margin-bottom: 16.5px;
  font-size: 16px;
}

.external-link__wrapper {
  display: flex;
}

.external-link__icon {
  width: 20px;
  height: 20px;
  margin: 0px 8px 17px 0px;
}

.external-link__name {
  height: 20px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard";
  font-weight: 400;
}

.footer__top__info__detail {
  font-size: 12px;
  line-height: 150%;
}

.footer-text-wrapper {
  display: flex;
  height: 18px;
  margin-bottom: 8px;
}

.semi-bold {
  color: var(--semi-bold-color);
  font-family: "Semi-Bold-Pretendard";
}

.footer__bottom {
  border-top: 1px solid var(--footer-border-top);
  padding-top: 32px;
  font-size: 12px;
  line-height: 150%;
}

.line3-image {
  width: 1px;
  height: 16px;
  margin: auto 8px;
}

.ellipse-image {
  width: 4px;
  height: 4px;
  margin: 4.5px 8px;
  object-fit: cover;
}

.seperator-image {
  width: 1px;
  height: 10px;
  margin: 2px 8px 0px;
}
